# Python
__pycache__/
*.pyc
*.pyo

# Environments
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints

# Data
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# Models
models/*.pkl

# VSCode
.vscode/

# OS files
.DS_Store
